.job-card {
    list-style-type: none;
    max-width: 600px;
    margin: 0 0 2em 0;
    padding: 0;
    width: 50em;
}

.listing-container {
    display: flex;
    justify-content: center;
    min-height: 400px;
    background-color: rgba(165, 170, 170, 0.158);
}

.side-panel-container {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3em;
    min-width: 250px;
    justify-content: center;
}

.filter-item {
    width: 100%
}

.card-actions {
    justify-content: right;
}

.main-body {
    display: inline-flex;
}