.example-card {
    list-style-type: none;
    max-width: 600px;
    margin: 0 0 2em 0;
    padding: 0;
    width: 50em;
}

.listing-container {
    display: flex;
    justify-content: center;
    min-height: 400px;
}

.card-actions {
    justify-content: right;
}