<div class="add-job-modal">
    <h2 mat-dialog-title>Create New Job</h2>
    <mat-dialog-content class="mat-typography">
        <div class="add-job-form">
            <mat-form-field class="add-job-modal-item">
                <mat-label>Title</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="add-job-modal-item">
                <mat-label>Description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
            <mat-form-field class="add-job-modal-item">
                <mat-label>Location</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="add-job-modal-item">
                <mat-label>Contact Email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [mat-dialog-close]="true" color="primary">Publish</button>
    </mat-dialog-actions>
</div>