<div class="add-job-modal" [formGroup]="newJobForm">
    <h2 mat-dialog-title>Create New Job</h2>
    <mat-dialog-content class="mat-typography">
        <div class="add-job-form">
            <mat-form-field class="add-job-modal-item">
                <mat-label>Title</mat-label>
                <input formControlName="formTitle" matInput required>
            </mat-form-field>
            <mat-form-field class="add-job-modal-item">
                <mat-label>Description</mat-label>
                <textarea formControlName="formDescription" matInput required></textarea>
            </mat-form-field>
            <mat-form-field class="add-job-modal-item">
                <mat-label>Author</mat-label>
                <input formControlName="formAuthor" matInput required>
            </mat-form-field>
            <mat-form-field class="add-job-modal-item">
                <mat-label>Location</mat-label>
                <input formControlName="formLocation" matInput required>
            </mat-form-field>
            <mat-form-field class="add-job-modal-item">
                <mat-label>Importance</mat-label>
                <mat-select formControlName="formImportance">
                    <mat-option value="Low Priority">Low Priority</mat-option>
                    <mat-option value="Medium Priority">Medium Priority</mat-option>
                    <mat-option value="High Priority">High Priority</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="add-job-modal-item">
                <mat-label>Contact Email</mat-label>
                <input formControlName="formContactEmail" matInput required placeholder="pat@example.com">
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" (click)="publishJob()">Publish</button>
    </mat-dialog-actions>
</div>